#### Data set cleaning

Dataset: 

- _xxx.zip_
    - _xxxa_calls.csv_
 
 - _yyy.csv_

Author: Luis Sergio Pastrana Lemus  
Date: 202Y-MM-DD

# Data Cleaning â€“ XXX Dataset

## __1. Libraries__.

In [ ]:
from pathlib import Path
import sys

# Define project root dynamically, gets the current directory from which the notebook belongs and moves one level upper
project_root = Path.cwd().parent

# Add src to sys.path if it is not already
if str(project_root) not in sys.path:

    sys.path.append(str(project_root))

# Import function directly (more controlled than import *)
from src import *


from IPython.display import display, HTML
import os
import pandas as pd

## __2. Path to Data file__.

In [ ]:
# Build route to data file and upload
data_file_path = project_root / "data" / "raw" / "Megaline.zip"
df_zzz = load_dataset_from_zip(data_file_path, "zza.csv", sep='|', header='infer', decimal=',', keep_default_na=False)

data_file_path = project_root / "data" / "raw" /

df_yyy = load_dataset_from_csv(data_file_path, "yyy.csv", sep=';', header='infer', decimal=',', keep_default_na=False)

##### `LSPL`

**Note:** `keep_default_na=False` is used to later convert missing values to `pd.NA`.  
This is beneficial because `pd.NA` provides:

- Consistency across data types  
- Type integrity preservation  
- Cleaner logical operations  
- Improved control over missing data

Since high performance or heavy computation is not required here, using `pd.NA` is appropriate.

In [ ]:
# Format notebook output
format_notebook()

## __3. Data set cleaning__.

In [ ]:
df_xxx.info()

### 3.1. Standardizing String values using "snake case".

#### 3.1.1 Standardizing Column Labels.

In [ ]:
# Standardize column labels with snake_case format
df_xxx = normalize_columns_headers_format(df_xxx)
# df_xxx.columns = ['column_name'] + list(df_xxx.columns[1:]) to fill the first column name in case it is not named and add to the columns list
df_xxx.columns

#### 3.1.2 Standardizing Dataframe String values.

In [ ]:
# Standardize data frame string values with snake_case format
df_xxx = normalize_string_format(df_xxx, include=['column_name'])
df_xxx

##### `LSPL`

**Note:** 

The column names and string values did not follow a consistent format; they contained spaces and capital letters, making them difficult to manipulate.

__Solution__: Column names and string values were standardized using lowercase letters, removing spaces, and applying the snake_case format.   
__Impact__: This facilitated data access and manipulation, improving readability and reducing errors in analysis.

### 3.2 Explicit duplicates.

In [ ]:
# Show explicit duplicates amount
display(HTML(f"> Explicit duplicates amount Dataframe <i>'df_xxx'</i>: <b>{df_xxx.duplicated().sum()}</b>"))

In [ ]:
# Delete explicit duplicated rows
# Not required

##### `LSPL`

**Note:** 

No explicit duplicate rows were detected.

### 3.3 Missing values.

#### 3.3.1 Missing values check.

In [ ]:
# Show missing values
check_existing_missing_values(df_xxx)

#### 3.3.2 Replacing missing values (pd.NA).

In [ ]:
# Replace missing values with pd.NA
df_xxx = replace_missing_values(df_xxx, include=['column_name'])
df_xxx

#### 3.3.3 Preview missing values.

In [ ]:
# Show missing values heatmap
missing_values_heatmap(df_xxx)

In [ ]:
# Show pd.NA missing values for 'columns' column
df_xxx.loc[df_xxx['column_name'].isna(), :]

#### 3.3.4  Missing values data imputation.

In [ ]:
# Handle df_orders pd.NA missing values within 'column_name' column
# According to the dictionary, churn_date = the date the user stopped using the service (if the value is missing,
# the plan was in use when this database was retrieved)

##### `LSPL`

**Note:** 

1. Missing values in __df_xxx__, _'column_name'_ column

Missing values in the `column_name` column occur ...

__Solution__: All missing values in `columns_name` will be ....

__Impact__: Identifying users with pd.NA, will help ...

### 3.4 Implicit duplicates.

#### 3.4.1 Implicit duplicates check.

In [ ]:
# Show implicit duplicates df_aisles
detect_implicit_duplicates_fuzzy(df_xxx, 'column_name')

#### 3.4.2 Implicit duplicates data imputation.

In [ ]:
# Imputation

### 3.5 Casting data types.

#### 3.5.1 Casting to string data type.

In [ ]:
# df_xxx 'column_name' to string
df_xxx['column_name'] = df_xxx['column_name'].astype('string')
df_xxx['column_name'].dtypes

#### 3.5.2 Casting to numeric data type.

In [ ]:
# df_xxx 'column_name' to numeric
find_fail_conversion_to_numeric(df_xxx, 'column_name')

df_xxx = convert_object_to_numeric(df_xxx, type='integer', include=['column_name'])
df_xxx['column_names'].dtypes

#### 3.5.3 Casting to category data type.

In [ ]:
# df_xxx 'column_name' to category
df_xxx['column_name'] = df_xxx['column_name'].astype('category')
df_xxx['column_name'].dtypes

#### 3.5.4 Casting to boolean data type.

In [ ]:
# df_xxx 'column_name' to boolean
df_xxx = convert_integer_to_boolean(df_xxx, include=['column_name'])

#### 3.5.5 Casting to datetime data type.

In [ ]:
# df_xxx 'column_name' to datetime
df_xxx = normalize_datetime(df_xxx, include=['column_name'], frmt='%Y-%m-%dT%H:%M:%S')
df_xxx.dtypes

## __4. Final cleaning dataframe review__.

In [ ]:
df_xxx.info()

## __5. Generate a new clean Data set .csv file__.

In [ ]:
project_root = Path.cwd().parent
processed_path = project_root / "data" / "processed" / "clean" / "_clean.csv"
df_xxx.to_csv(processed_path, index=False)